# Скрываем файл с ключами
assets/config.js

# Скрываем настройки VS Code (если есть)
.vscode/

# Скрываем системные файлы Mac и Windows
.DS_Store
Thumbs.db

# Если будешь использовать пакеты в будущем
node_modules/